@import "tailwindcss";

:root {
  font-family: 'Vazirmatn', 'Tahoma', 'Arial', sans-serif;
  line-height: 1.6;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  direction: rtl;
  text-align: right;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f9fafb;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}
